@model Pisciculture_dotnet2.Models.Nourrissage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nourrissage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoidsAliments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoidsAliments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNourrissage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNourrissage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlimentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlimentNavigation.IdAliment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoboNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoboNavigation.IdDobo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNourrissage">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
