@model IEnumerable<Pisciculture_dotnet2.Models.Race>

@{
    ViewData["Title"] = "Race";
}

<h1>Race</h1>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prix Achat Kg (Ar)
            </th>
            <th>
                Prix Vente Kg (Ar)
            </th>
            <th>
                PoidsMax (Kg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomRace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchatKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixVenteKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoidsMax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRace">Modifier</a> 
                @* <a asp-action="Details" asp-route-id="@item.IdRace">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.IdRace">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
