@model IEnumerable<Pisciculture_dotnet2.Models.Aliment>

@{
    ViewData["Title"] = "Index";
}

<h4>Liste des aliments</h4>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Pourcentage Proteine (%)
            </th>
            <th>
                Pourcentage Glucide (%)
            </th>
            <th>
                Prix d'Achat du kg (Ar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomAliment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PourcentageProteine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PourcentageGlucide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchatKg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAliment">Modifier</a> 
                @* <a asp-action="Details" asp-route-id="@item.IdAliment">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.IdAliment">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
