@model IEnumerable<Pisciculture_dotnet2.Models.EntreVague>

@{
    ViewData["Title"] = "Index";
}

<h1>Entrée</h1>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date Entrée
            </th>
            <th>
                Nombre de Poissons
            </th>
            <th>
                Poids Initiale Poisson (kg)
            </th>
            <th>
                Dobo
            </th>
            <th>
               Race
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateEntree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePoissons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoidsInitialePoisson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoboNavigation.IdDobo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRaceNavigation.NomRace)
            </td>
            @* <td> *@
                @* <a asp-action="Edit" asp-route-id="@item.IdEntreVague">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.IdEntreVague">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.IdEntreVague">Supprimer</a> *@
            @* </td> *@
        </tr>
}
    </tbody>
</table>
